/* products------------------ */

#products .product .info {
    color: #fff;
}
#products .row {
    flex-wrap: wrap;
    gap: 30px 10px ;
}
#products .product {
    width: calc(50% - 5px);
    /* background: #ccc; */
}
#products .product img {
    width: 100%;
}

#products main .container {
    padding-top: 30px;
}

#products .product .info {
    background-color: var(--bg-color2);
}
#products .product .info .category {
    font-weight: 500;
    font-size: 12px;
    color: var(--main-color);
    margin-bottom: 5px;
}
#products .product .info .title {
    font-weight: 500;
    font-size: 14px;
}
#products .product .info .price {
    font-weight: 700;
    font-size: 14px;
}


/* detail 상세 페이지 ----------------- */
#detail figure img {
    width: 100%;
}
#detail main header h1 {
    margin-bottom: 20px;
}
#detail main header {
    padding-bottom: 20px;
}
#detail main .container {
    padding-top: 30px;
    padding-bottom: 50px;
}
#detail main .buy-btn-group {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}
#detail main .buy-btn-group a.btn-large {
    width: 50%;
}
